
/***
 *     /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$
 *    | $$__  $$ /$$__  $$ /$$__  $$| $$_____/
 *    | $$  \ $$| $$  \ $$| $$  \__/| $$
 *    | $$$$$$$ | $$$$$$$$|  $$$$$$ | $$$$$
 *    | $$__  $$| $$__  $$ \____  $$| $$__/
 *    | $$  \ $$| $$  | $$ /$$  \ $$| $$
 *    | $$$$$$$/| $$  | $$|  $$$$$$/| $$$$$$$$
 *    |_______/ |__/  |__/ \______/ |________/
 *
 */

* {
	@include box-sizing(border-box); // les paddings des blocs ne sont pas pris en compte dans la taille des éléments
}

body {
	background-color: $gris;
	font-family: $basefont;
	line-height: 1.4em;
	@include font-size(12);
	color: $text;

}

a{
	text-decoration: none;
	color: $text;
}

/***
 *       /$$     /$$   /$$                        
 *      | $$    |__/  | $$                        
 *     /$$$$$$   /$$ /$$$$$$    /$$$$$$   /$$$$$$ 
 *    |_  $$_/  | $$|_  $$_/   /$$__  $$ /$$__  $$
 *      | $$    | $$  | $$    | $$  \__/| $$$$$$$$
 *      | $$ /$$| $$  | $$ /$$| $$      | $$_____/
 *      |  $$$$/| $$  |  $$$$/| $$      |  $$$$$$$
 *       \___/  |__/   \___/  |__/       \_______/
 *                                                
 *                                                
 *                                                
 */

.titre-1{

	font-family: $titre-1;
	color: $violet;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	@include font-size(24);
	line-height: 1.2em;

	&.padding-suppl{ // EN PLUS
		padding-left: 20px;
		padding-right: 20px;
	}

	@include respond-min($m768) { // EN PLUS
		@include font-size(26);
		padding: 0 0 20px; // 0 top - 0 left et right - 20 bottom
	}

	@include respond-min($m1200) {
		@include font-size(28);
	}
}

.titre-2{
	font-family: $titre-2;
	color: $violet;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	@include font-size(16);
	line-height: 1.2em;

	@include respond-min($m768) {
		@include font-size(18);
	}

	@include respond-min($m1200) {
		@include font-size(20);
	}
}

.titre-3{
	font-family: $titre-3;
	color: $blanc;
	@include font-size(19);
	line-height: 1.2em;
	text-transform: uppercase;
	padding-bottom: 30px;
	width: 90%;
	margin: 0 auto;

	@include respond-min($m768) {
		@include font-size(22);
		width: 100%;
		margin: 0;
	}

	@include respond-min($m1200) {
		@include font-size(25);
	}
}

/***
 *                                     /$$               /$$                    
 *                                    | $$              |__/                    
 *      /$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$ /$$$$$$$   /$$$$$$$
 *     /$$_____/ /$$__  $$| $$__  $$|_  $$_/   |____  $$| $$| $$__  $$ /$$_____/
 *    | $$      | $$  \ $$| $$  \ $$  | $$      /$$$$$$$| $$| $$  \ $$|  $$$$$$ 
 *    | $$      | $$  | $$| $$  | $$  | $$ /$$ /$$__  $$| $$| $$  | $$ \____  $$
 *    |  $$$$$$$|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$| $$  | $$ /$$$$$$$/
 *     \_______/ \______/ |__/  |__/   \___/   \_______/|__/|__/  |__/|_______/ 
 *                                                                              
 *                                                                              
 *                                                                              
 */

.conteneur-global{
	position: relative;
	width: 100%;
}

.contains{
	position: relative;
	width: 100%;
	height: 100%;

	@include respond-min($m768) {
		width: 700px;
		margin: 0px auto;
	}

	@include respond-min($m900) {
		width: 800px;
	}

	@include respond-min($m1024) {
		width: 900px;
	}

	@include respond-min($m1200) {
		width: 1000px;
	}

	@include respond-min($m1400) {
		width: 1200px;
	}

	&.padding-supp{
		margin-top: 50px;
	}
}


/***
 *     /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
 *    | $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
 *    | $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
 *    | $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
 *    | $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
 *    | $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
 *    | $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
 *    |__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
 *                                                                
 *                                                                
 *                                                                
 */

.header{
	position: relative;
	width: 100%;
	// min-height: 200px - 70px;
	padding-top : 70px;
	background-color: $violet;

	@include respond-min($m768) {
		height: 300px;
		background: transparent image-url('bg-events.jpg') no-repeat bottom center;
		-webkit-background-size: cover;
		background-size: cover;
	}
	
}

/***
 *     /$$                              
 *    | $$                              
 *    | $$  /$$$$$$   /$$$$$$   /$$$$$$ 
 *    | $$ /$$__  $$ /$$__  $$ /$$__  $$
 *    | $$| $$  \ $$| $$  \ $$| $$  \ $$
 *    | $$| $$  | $$| $$  | $$| $$  | $$
 *    | $$|  $$$$$$/|  $$$$$$$|  $$$$$$/
 *    |__/ \______/  \____  $$ \______/ 
 *                   /$$  \ $$          
 *                  |  $$$$$$/          
 *                   \______/           
 */

.logo-jamshaker{

	display: block;
	width: 100%;
	height: 73px;
	margin-bottom: 20px;
	background: transparent image-url('logo-jamshaker-s.png') no-repeat center center;
	text-indent: -9999px;
	z-index: 2;

	@include respond-min($m768) {
		background-image: url(../img/logo-jamshaker.png);
		width: 280px;
		height: 113px;
		margin-bottom: 0;
		top :100px;
	}

}

/***
 *                                   
 *                                   
 *     /$$$$$$$   /$$$$$$  /$$    /$$
 *    | $$__  $$ |____  $$|  $$  /$$/
 *    | $$  \ $$  /$$$$$$$ \  $$/$$/ 
 *    | $$  | $$ /$$__  $$  \  $$$/  
 *    | $$  | $$|  $$$$$$$   \  $/   
 *    |__/  |__/ \_______/    \_/    
 *                                   
 *                                   
 *                                   
 */

 .contain-nav{

 	@include respond-min($m768) {

		position: absolute;
		bottom: 0;
	}
 }

.nav-main{

	position: relative;
	width: 100%;

	li{
		width: 100%;

		@include respond-min($m768) {
			width: inherit;
			display: inline-block;
			float: left;
		}

		a{
			display: block;
			background-color: lighten($gris-fonce,10%);
			color: $violet;
			text-transform: uppercase;
			text-align: center;
			padding: 10px 0;
			border-bottom: 1px $gris-fonce solid;

			@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

			&:hover, &:focus, &:active, &.selected {
				color: $gris;
				background-color: darken($violet, 2%);

				@include respond-min($m768){
					background-color: $violet;
				}
			}

			@include respond-min($m768){
				padding: 10px 20px;
				text-align: left;
				border-bottom: none;
				background-color: $gris;
			}
		}
	}
}


/***
 *     /$$   /$$  /$$$$$$  /$$      /$$ /$$$$$$$$
 *    | $$  | $$ /$$__  $$| $$$    /$$$| $$_____/
 *    | $$  | $$| $$  \ $$| $$$$  /$$$$| $$      
 *    | $$$$$$$$| $$  | $$| $$ $$/$$ $$| $$$$$   
 *    | $$__  $$| $$  | $$| $$  $$$| $$| $$__/   
 *    | $$  | $$| $$  | $$| $$\  $ | $$| $$      
 *    | $$  | $$|  $$$$$$/| $$ \/  | $$| $$$$$$$$
 *    |__/  |__/ \______/ |__/     |__/|________/
 *                                               
 *                                               
 *                                               
 */


/***
 *     /$$             /$$                        
 *    |__/            | $$                        
 *     /$$ /$$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
 *    | $$| $$__  $$|_  $$_/   /$$__  $$ /$$__  $$
 *    | $$| $$  \ $$  | $$    | $$  \__/| $$  \ $$
 *    | $$| $$  | $$  | $$ /$$| $$      | $$  | $$
 *    | $$| $$  | $$  |  $$$$/| $$      |  $$$$$$/
 *    |__/|__/  |__/   \___/  |__/       \______/ 
 *                                                
 *                                                
 *                                                
 */

 .text-acc{
	padding: 0 20px 30px; // 0 top - 20 left et right - 30 bottom
	color: $violet;
	@include font-size(14);

	@include respond-min($m768){
		padding: 0 0 30px; // 0 top - 0 left et right - 30 bottom
	}
 }

 /***
 *                                                /$$              
 *                                               | $$              
 *      /$$$$$$  /$$    /$$  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$$
 *     /$$__  $$|  $$  /$$/ /$$__  $$| $$__  $$|_  $$_/   /$$_____/
 *    | $$$$$$$$ \  $$/$$/ | $$$$$$$$| $$  \ $$  | $$    |  $$$$$$ 
 *    | $$_____/  \  $$$/  | $$_____/| $$  | $$  | $$ /$$ \____  $$
 *    |  $$$$$$$   \  $/   |  $$$$$$$| $$  | $$  |  $$$$/ /$$$$$$$/
 *     \_______/    \_/     \_______/|__/  |__/   \___/  |_______/ 
 *                                                                 
 *                                                                 
 *                                                                 
 */

.list-events{

	width: 100%;
	padding: 0 20px 50px;

	@include respond-min($m768) {
		padding: 0 0 50px;
	}

	.item-event{

		width: 100%;
		border-top: 1px solid $gris-fonce;
		padding: 20px 0;
	}
}

.titre-event{
	font-family: $titre-2;
	text-transform: uppercase;
	@include font-size(20);
	line-height: 1.4em;
	text-align: left;
	color: $violet;
}

 /***
 *                                            
 *                                            
 *           /$$  /$$$$$$  /$$   /$$ /$$   /$$
 *          |__/ /$$__  $$| $$  | $$|  $$ /$$/
 *           /$$| $$$$$$$$| $$  | $$ \  $$$$/ 
 *          | $$| $$_____/| $$  | $$  >$$  $$ 
 *          | $$|  $$$$$$$|  $$$$$$/ /$$/\  $$
 *          | $$ \_______/ \______/ |__/  \__/
 *     /$$  | $$                              
 *    |  $$$$$$/                              
 *     \______/                               
 */

.list-jeux{
	width: 100%;
	padding: 0 20px 50px;

	@include respond-min($m768) {
		padding: 0 0 50px;
	}

	.jeu{
		width: 100%;
		border-top: 1px solid $gris-fonce;
		padding: 20px 0;

		&:after{
			display: table;
			content : "";
			clear: both;
		}

		.jeu-img{
			float: left;
			width: 100%;
			text-align: center;

			@include respond-min($m768){
				width: 30%;
			}

			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		.jeu-text{
			float: left;
			width: 100%;

			@include respond-min($m768){
				width: 70%;
				padding: 0 20px;
			}

			.titre-jeu{
				@extend .titre-event;
				// @extend .;
			}

			.event{
				width: 300px;
				padding: 8px;
				background-color: $violet;
				color: $gris;
				text-transform: uppercase;
				font-family: $basefont;
				line-height: 1.3em;
				@include font-size(13);
			}

			.desc{
				padding: 10px 0;
			}

			.lien-jeu{
				display: block;
	 			width: 100%;
	 			padding: 8px 8px;
	 			outline: 0;
	 			cursor: pointer;
	 			background-color: $gris-fonce;
	 			color: $blanc;
	 			text-transform: uppercase;
	 			@include font-size(15);
	 			font-family: $basefont;
	 			text-align: center;

	 			@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

				&:hover {
					color: $gris;
					background-color: $violet;
				}

				@include respond-min($m768){
					width: 100px;
				}
			}
		}
	}
}


/***
 *     /$$$$$$$$ /$$    /$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$  /$$$$$$ 
 *    | $$_____/| $$   | $$| $$_____/| $$$ | $$|__  $$__/ /$$__  $$
 *    | $$      | $$   | $$| $$      | $$$$| $$   | $$   | $$  \__/
 *    | $$$$$   |  $$ / $$/| $$$$$   | $$ $$ $$   | $$   |  $$$$$$ 
 *    | $$__/    \  $$ $$/ | $$__/   | $$  $$$$   | $$    \____  $$
 *    | $$        \  $$$/  | $$      | $$\  $$$   | $$    /$$  \ $$
 *    | $$$$$$$$   \  $/   | $$$$$$$$| $$ \  $$   | $$   |  $$$$$$/
 *    |________/    \_/    |________/|__/  \__/   |__/    \______/ 
 *                                                                 
 *                                                                 
 *                                                                 
 */

 /***
 *                                   
 *                                   
 *     /$$$$$$$   /$$$$$$  /$$    /$$
 *    | $$__  $$ |____  $$|  $$  /$$/
 *    | $$  \ $$  /$$$$$$$ \  $$/$$/ 
 *    | $$  | $$ /$$__  $$  \  $$$/  
 *    | $$  | $$|  $$$$$$$   \  $/   
 *    |__/  |__/ \_______/    \_/    
 *                                   
 *                                   
 *                                   
 */

 .second-nav{
	
	position: relative;
	margin: 0 auto 20px auto;
	width: 90%;	

	&:after{
		display: table;
		content : "";
		clear: both;
	}

	@include respond-min($m768){
		width: 100%;
	}
 }

 .nav-events{

 	float: right;

 	li{
 		display: inline-block;
 		float: left;

 		&:first-of-type{
 			margin-right: 10px;
 		}

 		a{
 			display: block;
 			padding: 15px 15px;
 			background-color: $gris-fonce;
 			color: $blanc;
 			text-transform: uppercase;
 			@include font-size(12);
 			font-family: $basefont;

 			@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

			&:hover, &:focus, &:active, &.selected {
				color: $gris;
				background-color: $violet;
			}
 		}
 	}
 }

 /***
 *     /$$ /$$             /$$              
 *    | $$|__/            | $$              
 *    | $$ /$$  /$$$$$$$ /$$$$$$    /$$$$$$ 
 *    | $$| $$ /$$_____/|_  $$_/   /$$__  $$
 *    | $$| $$|  $$$$$$   | $$    | $$$$$$$$
 *    | $$| $$ \____  $$  | $$ /$$| $$_____/
 *    | $$| $$ /$$$$$$$/  |  $$$$/|  $$$$$$$
 *    |__/|__/|_______/    \___/   \_______/
 *                                          
 *                                          
 *                                          
 */

 .contain-events{
 	margin-bottom: 50px;
 }


a.liste_events{ // Uniquement si c'est un lien "a" qui encadre l'événement (et non une div)
	display: block;
	outline: 0;
}

.liste_events{
	position: relative;
	// display: block;
	// outline: 0;
	background-color: darken($gris, 8%);
	padding-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;

	&:after{
		display: table;
		content : "";
		clear: both;
	}

	&:last-of-type{
		// margin-bottom: 0;
	}

	@include respond-min($m768){
	
		border-left: 4px solid darken($gris, 8%);

		@include transition(border-color 0.3s ease-in-out, color 0.3s ease-in-out);

		&:hover{
			border-color: $violet;
		}
	}

	//Exception pour le titre "h1"
	// .titre-1{
	// 	width: 90%
	// }

	.info_sup{
		padding-left: 20px;
		margin-bottom: 20px;
		color: $violet;
		@include font-size(15);
		line-height: 1.5em;
 		font-family: $eventInfo;
	}

	.liste_places{

		@include respond-min($m768){
			float: right;
		}
	}

	.event_place{
		display: inline-block;
		float: left;
		// width: 50%;

		@include respond-min($m768){
			// width: auto;
			// border-right: 1px solid $violet;
			// &:last-of-type{
			// 	border-right: 0;
			// }
		}

		a{
			display: block;
			outline: 0;
			background-color: $gris-fonce;
			padding: 10px;
			text-transform: uppercase;
			color: $violet;
			font-family: $basefont;
			@include font-size(11);

			@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

			&:hover, &:focus, &:active, &.selected {
				color: $gris;
				background-color: $violet;
			}

			@include respond-min($m768){
				padding: 15px 20px;
				@include font-size(12);
			}
		}
	}
}





/***
 *     /$$$$$$$$ /$$    /$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$  
 *    | $$_____/| $$   | $$| $$_____/| $$$ | $$|__  $$__/ 
 *    | $$      | $$   | $$| $$      | $$$$| $$   | $$  
 *    | $$$$$   |  $$ / $$/| $$$$$   | $$ $$ $$   | $$  
 *    | $$__/    \  $$ $$/ | $$__/   | $$  $$$$   | $$   
 *    | $$        \  $$$/  | $$      | $$\  $$$   | $$  
 *    | $$$$$$$$   \  $/   | $$$$$$$$| $$ \  $$   | $$  
 *    |________/    \_/    |________/|__/  \__/   |__/ 
 *                                                                 
 *                                                                 
 *                                                                 
 */

/***
 *     /$$            /$$$$$$                                                             
 *    |__/           /$$__  $$                                                            
 *     /$$ /$$$$$$$ | $$  \__/  /$$$$$$        /$$       /$$$$$$$   /$$$$$$  /$$$$$$/$$$$ 
 *    | $$| $$__  $$| $$$$     /$$__  $$      |__/      | $$__  $$ /$$__  $$| $$_  $$_  $$
 *    | $$| $$  \ $$| $$_/    | $$  \ $$                | $$  \ $$| $$  \ $$| $$ \ $$ \ $$
 *    | $$| $$  | $$| $$      | $$  | $$       /$$      | $$  | $$| $$  | $$| $$ | $$ | $$
 *    | $$| $$  | $$| $$      |  $$$$$$/      |__/      | $$  | $$|  $$$$$$/| $$ | $$ | $$
 *    |__/|__/  |__/|__/       \______/                 |__/  |__/ \______/ |__/ |__/ |__/
 *                                                                                        
 *                                                                                        
 *                                                                                        
 */
/***
 *           /$$             /$$                           /$$       /$$                                     /$$                    
 *          | $$            | $$                          /$$/      | $$                                    |__/                    
 *      /$$$$$$$  /$$$$$$  /$$$$$$    /$$$$$$            /$$/       | $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$ 
 *     /$$__  $$ |____  $$|_  $$_/   /$$__  $$          /$$/        | $$__  $$ /$$__  $$ /$$__  $$ |____  $$| $$ /$$__  $$ /$$__  $$
 *    | $$  | $$  /$$$$$$$  | $$    | $$$$$$$$         /$$/         | $$  \ $$| $$  \ $$| $$  \__/  /$$$$$$$| $$| $$  \__/| $$$$$$$$
 *    | $$  | $$ /$$__  $$  | $$ /$$| $$_____/        /$$/          | $$  | $$| $$  | $$| $$       /$$__  $$| $$| $$      | $$_____/
 *    |  $$$$$$$|  $$$$$$$  |  $$$$/|  $$$$$$$       /$$/           | $$  | $$|  $$$$$$/| $$      |  $$$$$$$| $$| $$      |  $$$$$$$
 *     \_______/ \_______/   \___/   \_______/      |__/            |__/  |__/ \______/ |__/       \_______/|__/|__/       \_______/
 *                                                                                                                                  
 *                                                                                                                                  
 *                                                                                                                                  
 */

 .contain-info-event{

 	position: relative;
	width: 100%;

 	&:after{
		display: table;
		content : "";
		clear: both;
	}

 }

 .conteneur-flottant{
	
	position: relative;
	width: 100%;
	padding-top: 50px;


	@include respond-min($m768) {
	 	float: left;
 		width: 50%;
	}	

 	.conteneur-titre{
 		position: relative;
 		
 		@include respond-min($m768) {
 			float: right;
			width: 350px; // = 700 / 2 (.contains)
		}

		@include respond-min($m900) {
			width: 400px; // = 800 / 2
		}

		@include respond-min($m1024) {
			width: 450px; // = 900 / 2
		}

		@include respond-min($m1200) {
			width: 500px; // = 1000 / 2
		}

		@include respond-min($m1400) {
			width: 600px; // = 1200 / 2
		}
 	}

 }

.info{
	position: relative;
	width: 100%;
	background-color: $violet;
	padding: 50px;

	&:after{
		display: table;
		content : "";
		clear: both;
	}


	@include respond-min($m768){
		float: right;
		width: 50%;
	}

	.date, .horaire{
		color: $gris;
		@include font-size(16);
		line-height: 1.5em;

		@include respond-min($m480){
			float: left;
			width: 50%;
		}

		@include respond-min($m768){
			float: none;
			width: 100%;
		}
	}

	.date{
		padding-bottom: 15px;
	}

	// .horaire:after {
	// 	display: table;
	// 	content : "";
	// 	clear: both;
	// }

	.icon-clock{
		float: left;
	}

	.p-horaire{
		display: block;
		float: left;
	}
}


/***
 *                                      
 *                                      
 *     /$$$$$$/$$$$   /$$$$$$   /$$$$$$ 
 *    | $$_  $$_  $$ |____  $$ /$$__  $$
 *    | $$ \ $$ \ $$  /$$$$$$$| $$  \ $$
 *    | $$ | $$ | $$ /$$__  $$| $$  | $$
 *    | $$ | $$ | $$|  $$$$$$$| $$$$$$$/
 *    |__/ |__/ |__/ \_______/| $$____/ 
 *                            | $$      
 *                            | $$      
 *                            |__/      
 */

.map{
	position: relative;
	width: 100%;
	height: 250px;
}


/***
 *           /$$                                         /$$             /$$     /$$                    
 *          | $$                                        |__/            | $$    |__/                    
 *      /$$$$$$$  /$$$$$$   /$$$$$$$  /$$$$$$$  /$$$$$$  /$$  /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$ 
 *     /$$__  $$ /$$__  $$ /$$_____/ /$$_____/ /$$__  $$| $$ /$$__  $$|_  $$_/  | $$ /$$__  $$| $$__  $$
 *    | $$  | $$| $$$$$$$$|  $$$$$$ | $$      | $$  \__/| $$| $$  \ $$  | $$    | $$| $$  \ $$| $$  \ $$
 *    | $$  | $$| $$_____/ \____  $$| $$      | $$      | $$| $$  | $$  | $$ /$$| $$| $$  | $$| $$  | $$
 *    |  $$$$$$$|  $$$$$$$ /$$$$$$$/|  $$$$$$$| $$      | $$| $$$$$$$/  |  $$$$/| $$|  $$$$$$/| $$  | $$
 *     \_______/ \_______/|_______/  \_______/|__/      |__/| $$____/    \___/  |__/ \______/ |__/  |__/
 *                                                          | $$                                        
 *                                                          | $$                                        
 *                                                          |__/                                        
 */

.description{
	padding: 20px;
	color: $violet;
	@include font-size(14);
}


/***
 *                                             /$$       /$$                    
 *                                            | $$      |__/                    
 *      /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$$$$$$  /$$  /$$$$$$$  /$$$$$$$
 *     /$$__  $$ /$$__  $$ |____  $$ /$$__  $$| $$__  $$| $$ /$$_____/ /$$_____/
 *    | $$  \ $$| $$  \__/  /$$$$$$$| $$  \ $$| $$  \ $$| $$| $$      |  $$$$$$ 
 *    | $$  | $$| $$       /$$__  $$| $$  | $$| $$  | $$| $$| $$       \____  $$
 *    |  $$$$$$$| $$      |  $$$$$$$| $$$$$$$/| $$  | $$| $$|  $$$$$$$ /$$$$$$$/
 *     \____  $$|__/       \_______/| $$____/ |__/  |__/|__/ \_______/|_______/ 
 *     /$$  \ $$                    | $$                                        
 *    |  $$$$$$/                    | $$                                        
 *     \______/                     |__/                                        
 */

.graphics{

	padding: 20px 0;
	margin-bottom: 20px;

	&:after{
		display: table;
		content : "";
		clear: both;
	}

	.schema-doughnut{
		width: 100%;

		@include respond-min($m768){
			float: left;
			width: 50%;
			margin-bottom: 0;
		}

		.doughnut{
			display: block;
			margin: 0 auto;
			// width: 300px;
			// height: 300px;
		}
	}

	.schema-bar{
		width: 100%;
		margin-top: 20px;

		@include respond-min($m768){
			float: right;
			width: 50%;
			margin-top: 0;
		}

		.bar{
			display: block;
			margin: 0 auto;
			// width: 400px;
			// height: 300px;
		}
	}

	.part_total{
		position: relative;
		width: 100%;
		clear: both;
		padding-top: 25px;

		p{
			position: relative;
			background-color: $gris-fonce;
			text-align: center;
			width: 250px;
			margin: 0 auto;
			padding: 10px;
		}
	}
}


/***
 *      /$$$$$$                                              /$$           /$$                    
 *     /$$__  $$                                            | $$          |__/                    
 *    | $$  \__/  /$$$$$$   /$$$$$$  /$$$$$$/$$$$  /$$   /$$| $$  /$$$$$$  /$$  /$$$$$$   /$$$$$$ 
 *    | $$$$     /$$__  $$ /$$__  $$| $$_  $$_  $$| $$  | $$| $$ |____  $$| $$ /$$__  $$ /$$__  $$
 *    | $$_/    | $$  \ $$| $$  \__/| $$ \ $$ \ $$| $$  | $$| $$  /$$$$$$$| $$| $$  \__/| $$$$$$$$
 *    | $$      | $$  | $$| $$      | $$ | $$ | $$| $$  | $$| $$ /$$__  $$| $$| $$      | $$_____/
 *    | $$      |  $$$$$$/| $$      | $$ | $$ | $$|  $$$$$$/| $$|  $$$$$$$| $$| $$      |  $$$$$$$
 *    |__/       \______/ |__/      |__/ |__/ |__/ \______/ |__/ \_______/|__/|__/       \_______/
 *                                                                                                
 *                                                                                                
 *                                                                                                
 */

.bloc-formulaire{
	background-color: $violet;
	padding: 30px 0 50px 0;
}

.inscription-event{
	position: relative;
	width: 90%;
	margin: 0 auto;

	&:after{
		display: table;
		content : "";
		clear: both;
	}

	@include respond-min($m768) {
		width: 100%;
		margin: 0;
	}

	.form-bloc-g{
		float: left;
		width: 100%;

		@include respond-min($m768) {
			width: 50%;
		}
	}

	.form-bloc-d{
		float: right;
		width: 100%;

		@include respond-min($m768) {
			width: 50%;
		}
	}
}

.input-inscription{

	color: $violet;
	font-family: $basefont;
	@include font-size(12);
	background-color: $blanc;
	border : none;
	padding: 8px 3px;
	width: 100%;
	margin-bottom: 10px;

	&:last-of-type{
		margin-bottom: 0;
	}

	@include transition(background 0.2s ease-in-out);

	&:hover, &:focus, &:active {
		background-color: darken($gris, 10%);
	}

	&.error{
		background-color:#fab2bb;
		color: #75121e;

		[placeholder]{
			color: #75121e;
		}
	}

	@include respond-min($m768) {
		width: 90%;
	}

}

.btn-envoi{
	float: right;
	cursor: pointer;
	width: 100%;
	border: none;
	// padding: 20px;
	height: 60px;
	color: $violet;
	font-family: $basefont;
	text-transform: uppercase;
	background-color: $blanc;
	@include font-size(12);

	@include transition(background 0.2s ease-in-out);

	&:hover, &:focus, &:active {
		background-color: darken($gris, 10%);
	}

	@include respond-min($m768) {
		width: 90%; // soit 450px
	}
}


/***
 *        /$$$$$ /$$$$$$$$ /$$   /$$ /$$   /$$
 *       |__  $$| $$_____/| $$  | $$| $$  / $$
 *          | $$| $$      | $$  | $$|  $$/ $$/
 *          | $$| $$$$$   | $$  | $$ \  $$$$/ 
 *     /$$  | $$| $$__/   | $$  | $$  >$$  $$ 
 *    | $$  | $$| $$      | $$  | $$ /$$/\  $$
 *    |  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  \ $$
 *     \______/ |________/ \______/ |__/  |__/
 *                                            
 *                                            
 *                                            
 */

.contains-jeux{
	padding: 50px 0;
}

.grille-jeux{
	position: relative;
	// padding: 50px 0;
	padding-bottom: 30px;
	width: 100%;
	text-align: center;

	.item-jeu{ // les "li"
		display: inline-block;
		height: 250px;
		margin: 10px 10px 0; // Top, right et left, pas de bottom
		vertical-align: top;

		.lien_jeu{ // liens "a" encadrant les images carrés
			display: block;
			position: relative;
			width: 250px; // 250px
			height: 250px; // 250px
			overflow: hidden;
			outline: 0;
		}

		.desc-jeu{ // div contenant la description du jeu
			display: none;
			opacity: 0;
			overflow: hidden;

			.fleche{ // flèche pour montrer à quel jeu la description appartient
				position: relative;
				width: 250px;
				height: 10px;
				background: transparent image-url('fleche_jeu.png') no-repeat center center;
			}

			.contenu-desc{ // contenu du jeu
				position: absolute;
				left: 0;
				width: 100%;
				min-height: 500px;
				padding: 50px 30px;
				// margin-top: 10px;
				background-color: $gris-clair; //lighten($gris-fonce,10%);

				.icon-close{ // bloc pour fermer la description
					display: none;

					@include respond-min($m768) {
						position: absolute;
						display: block;
						top: 20px;
						right: 30px;
						cursor: pointer;
						padding: 10px;
						outline: 0;
						@include font-size(30);
						color: $violet;

						@include transition(transform 0.2s linear);
						@include transform(1, 0deg);

						&:hover{
							@include transform(1, 180deg);
						}
					}
				}

				.img-desc{ // bloc gauche contenant l'image du jeu
					width: 100%;
					height: 100%;
					float: left;
					overflow: hidden;

					@include respond-min($m768) {
						width: 50%;
					}

					img{
						max-height: 100%;
						max-width: 100%;
						margin: 0 auto;
					}
				}

				.text-desc{ // bloc droit contenant le texte du jeu
					width: 100%;
					height: 100%;
					float: left;

					@include respond-min($m768) {
						width: 50%;
						padding-left: 30px;
					}

					.titre-jeu{
						padding: 20px 0;
						font-family: $titre-2;
						text-transform: uppercase;
						@include font-size(40);
						line-height: 1.4em;
						text-align: left;
						color: $violet;
					}

					.text{
						margin-bottom: 20px;
						color: $violet;
						@include font-size(15);
						text-align: left;
			 			font-family: $basefont;
					}

					.lien-jeu{
						display: block;
						width: 100%;
			 			padding: 15px 15px;
			 			background-color: $gris-fonce;
			 			color: $blanc;
			 			text-transform: uppercase;
			 			@include font-size(15);
			 			font-family: $basefont;
			 			outline: 0;
			 			cursor: pointer;

			 			@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

						&:hover {
							color: $gris;
							background-color: $violet;
						}
					}

				}
			}
		}
	}
}
