@mixin retina() {
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
		@content;
	}
}

@mixin font-size($font-size: 16) {
	font-size : #{$font-size}px;
	font-size : #{$font-size / 10}rem;
}

@mixin clearfix() {
	*zoom : 1;
	&:before,
	&:after {
		display: table;
		content : "";
	}
	&:after {
		clear : both;
	}
}

/* Gestion des media queries avec fallback pour IE 8 et moins */
$fix-mqs: false !default;

@mixin respond-min($width) {

	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content;
		}
	}
	@else {
		@media screen and (min-width: $width) {
			@content;
		}
	}
}
@mixin respond-max($width) {
	$max-width : $width - 1px;

	@if $fix-mqs {
		@if $fix-mqs <= $max-width {
			@content;
		}
	}
	@else {
		@media screen and (max-width: $max-width) {
			@content;
		}
	}
}

$old-ie: false !default;

@mixin old-ie {
	@if $old-ie {
		@content;
	}
}