html { font-size: 62.5%; }

/* COLORS */
$text:            #000;
$violet:          #2b0734;
$gris:            #eeedee;
$gris-fonce:      #bdbbbd;
$blanc:           #ffffff;

/* VALIDATION FORM */
$texterror:  #000;
$bgerror:    #0094d4;

/* FONT STACKS */
$basefont: "futuralt", sans-serif;
$titre-1 : "futuralt-heavy";
$titre-2 : "futuralt";
$titre-3 : "futuralt";

$titlefont:  Lato, sans-serif;
$logofont: CenturyGothicBold, sans-serif;



/* BREAKPOINTS */
$m320:   320px; // Portrait iPhone
$m480:   480px; // Landscape iPhone
$m768:   768px; // Portrait iPad || Normalement on part de cette valeur pour mettre en forme le site sur ordinateur
$m900:   900px; // Juste pour le menu et la page d'accueil
$m1024: 1024px; // Landscape iPad
$m1200: 1200px; // Grand écran
$m1400: 1400px;