html { font-size: 62.5%; }

/* COLORS */
$text:            #000;
$violet:          #480c57; // 480c57
$gris:            #f7f6f7;
$gris-fonce:      #d8d5d8;
$gris-clair:      #d6d5d6;
$blanc:           #ffffff;

/* VALIDATION FORM */
$texterror:  #000;
$bgerror:    #0094d4;

/* FONT STACKS */
$basefont:   "futuralt", sans-serif;
$eventInfo:  "futuralt-light";
$titre-1 :   "futuralt-heavy";
$titre-2 :   "futuralt";
$titre-3 :   "futuralt";

$titlefont:  Lato, sans-serif;
$logofont: CenturyGothicBold, sans-serif;



/* BREAKPOINTS */
$m320:   320px; // Portrait iPhone
$m480:   480px; // Landscape iPhone
$m768:   768px; // Portrait iPad || Normalement on part de cette valeur pour mettre en forme le site sur ordinateur
$m900:   900px; // Juste pour le menu et la page d'accueil
$m1024: 1024px; // Landscape iPad
$m1200: 1200px; // Grand écran
$m1400: 1400px;