html {
  font-size: 62.5%;
}

/* COLORS */
/* VALIDATION FORM */
/* FONT STACKS */
/* BREAKPOINTS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Gestion des media queries avec fallback pour IE 8 et moins */
html {
  font-size: 62.5%;
}

/* COLORS */
/* VALIDATION FORM */
/* FONT STACKS */
/* BREAKPOINTS */
/* HELPERS */
.clear {
  clear: both;
}

.hidden {
  display: none;
}

.no-height {
  height: 0;
}

.no-margin {
  margin: 0;
}

@font-face {
  font-family: 'futuralt-heavy';
  src: url("../font/futuralt-heavy.eot");
  src: url("../font/futuralt-heavy.eot?#iefix") format("embedded-opentype"), url("../font/futuralt-heavy.woff") format("woff"), url("../font/futuralt-heavy.ttf") format("truetype"), url("../font/futuralt-heavy.svg#futuralt-heavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuralt-light';
  src: url("../font/futuralt-light.eot");
  src: url("../font/futuralt-light.eot?#iefix") format("embedded-opentype"), url("../font/futuralt-light.woff") format("woff"), url("../font/futuralt-light.ttf") format("truetype"), url("../font/futuralt-light.svg#futuralt-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuralt';
  src: url("../font/futuralt.eot");
  src: url("../font/futuralt.eot?#iefix") format("embedded-opentype"), url("../font/futuralt.woff") format("woff"), url("../font/futuralt.ttf") format("truetype"), url("../font/futuralt.svg#futuralt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futurace-light';
  src: url("../font/futurace-light.eot");
  src: url("../font/futurace-light.eot?#iefix") format("embedded-opentype"), url("../font/futurace-light.woff") format("woff"), url("../font/futurace-light.ttf") format("truetype"), url("../font/futurace-light.svg#futuralt-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?-rb14th");
  src: url("../font/icomoon.eot?#iefix-rb14th") format("embedded-opentype"), url("../font/icomoon.woff?-rb14th") format("woff"), url("../font/icomoon.ttf?-rb14th") format("truetype"), url("../font/icomoon.svg?-rb14th#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle, .icon-calendar, .icon-clock, .icon-close {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e600";
}

.icon-calendar:before {
  content: "\e601";
}

.nav-toggle:before {
  content: "\e602";
  font-size: 16px;
  color: #480c57;
}

.icon-clock, .icon-calendar {
  padding-right: 10px;
  font-size: 25px;
}

.icon-close:before {
  content: "\e603";
}

.icon-menu:before {
  content: "\e602";
}

/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  display: block;
  width: 100%;
  background-color: #d8d5d8;
  padding: 5px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
.hi-icon-wrap {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  position: relative;
  width: 90%;
  float: right;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hi-icon-wrap:after {
  display: table;
  content: "";
  clear: both;
}

.contain-icon {
  float: left;
  display: table;
  width: 25%;
  width: auto;
  margin-right: 25px;
  margin-right: 26px;
  margin-right: 40px;
  margin-right: 55px;
}
.contain-icon:last-of-type {
  margin-right: 0;
}

.hi-icon {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #480c57;
  line-height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-top: 0;
  margin: 15px 30px;
  width: 60px;
  height: 60px;
  width: 70px;
  height: 70px;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
  background: white;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.hi-icon-effect-1 .hi-icon.error {
  background-color: #fab2bb;
  color: #75121e;
}

.hi-icon-effect-1 .hi-icon:after {
  top: -4px;
  left: -4px;
  padding: 4px;
  box-shadow: 0 0 0 3px white;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px white;
}

/* Effect 1a */
.hi-icon-effect-1a .contain-icon .hi-icon:hover, .hi-icon-effect-1a .contain-icon .selected {
  background-color: white;
}

.hi-icon-effect-1a .contain-icon .hi-icon:hover:after, .hi-icon-effect-1a .contain-icon .selected:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/***
 *     /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$
 *    | $$__  $$ /$$__  $$ /$$__  $$| $$_____/
 *    | $$  \ $$| $$  \ $$| $$  \__/| $$
 *    | $$$$$$$ | $$$$$$$$|  $$$$$$ | $$$$$
 *    | $$__  $$| $$__  $$ \____  $$| $$__/
 *    | $$  \ $$| $$  | $$ /$$  \ $$| $$
 *    | $$$$$$$/| $$  | $$|  $$$$$$/| $$$$$$$$
 *    |_______/ |__/  |__/ \______/ |________/
 *
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f7f6f7;
  font-family: "futuralt", sans-serif;
  line-height: 1.4em;
  font-size: 12px;
  font-size: 1.2rem;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/***
 *       /$$     /$$   /$$                        
 *      | $$    |__/  | $$                        
 *     /$$$$$$   /$$ /$$$$$$    /$$$$$$   /$$$$$$ 
 *    |_  $$_/  | $$|_  $$_/   /$$__  $$ /$$__  $$
 *      | $$    | $$  | $$    | $$  \__/| $$$$$$$$
 *      | $$ /$$| $$  | $$ /$$| $$      | $$_____/
 *      |  $$$$/| $$  |  $$$$/| $$      |  $$$$$$$
 *       \___/  |__/   \___/  |__/       \_______/
 *                                                
 *                                                
 *                                                
 */
.titre-1 {
  font-family: "futuralt-heavy";
  color: #480c57;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2em;
  font-size: 24px;
  font-size: 2.4rem;
  padding: 0 0 22px;
  font-size: 24px;
  font-size: 2.4rem;
}
.titre-1.padding-suppl {
  padding-left: 20px;
  padding-right: 20px;
}
.titre-1.titre-badge {
  margin-left: 70px;
  margin-left: 20px;
  padding: 10px 0;
}

.titre-2 {
  font-family: "futuralt";
  color: #480c57;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2em;
  font-size: 18px;
  font-size: 1.8rem;
  font-size: 20px;
  font-size: 2rem;
}

.titre-3 {
  font-family: "futuralt";
  color: white;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.2em;
  text-transform: uppercase;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
  font-size: 22px;
  font-size: 2.2rem;
  width: 100%;
  margin: 0;
  font-size: 25px;
  font-size: 2.5rem;
}

/***
 *                                     /$$               /$$                    
 *                                    | $$              |__/                    
 *      /$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$ /$$$$$$$   /$$$$$$$
 *     /$$_____/ /$$__  $$| $$__  $$|_  $$_/   |____  $$| $$| $$__  $$ /$$_____/
 *    | $$      | $$  \ $$| $$  \ $$  | $$      /$$$$$$$| $$| $$  \ $$|  $$$$$$ 
 *    | $$      | $$  | $$| $$  | $$  | $$ /$$ /$$__  $$| $$| $$  | $$ \____  $$
 *    |  $$$$$$$|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$| $$  | $$ /$$$$$$$/
 *     \_______/ \______/ |__/  |__/   \___/   \_______/|__/|__/  |__/|_______/ 
 *                                                                              
 *                                                                              
 *                                                                              
 */
.conteneur-global {
  position: relative;
  width: 100%;
}

.contains {
  position: relative;
  width: 100%;
  height: 100%;
  width: 700px;
  margin: 0px auto;
  width: 800px;
  width: 900px;
  width: 1000px;
}
.contains.padding-supp {
  margin-top: 50px;
}

.contains_large {
  position: relative;
  margin: 20px;
}
.contains_large.padding-supp {
  margin-top: 50px;
}

/***
 *     /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
 *    | $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
 *    | $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
 *    | $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
 *    | $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
 *    | $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
 *    | $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
 *    |__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
 *                                                                
 *                                                                
 *                                                                
 */
.header {
  position: relative;
  width: 100%;
  padding-top: 20px;
  background-color: #480c57;
  padding-top: 70px;
  height: 300px;
  background: transparent url('../img/bg-events.jpg?1417043342') no-repeat bottom center;
  -webkit-background-size: cover;
  background-size: cover;
}

/***
 *     /$$                              
 *    | $$                              
 *    | $$  /$$$$$$   /$$$$$$   /$$$$$$ 
 *    | $$ /$$__  $$ /$$__  $$ /$$__  $$
 *    | $$| $$  \ $$| $$  \ $$| $$  \ $$
 *    | $$| $$  | $$| $$  | $$| $$  | $$
 *    | $$|  $$$$$$/|  $$$$$$$|  $$$$$$/
 *    |__/ \______/  \____  $$ \______/ 
 *                   /$$  \ $$          
 *                  |  $$$$$$/          
 *                   \______/           
 */
.logo-jamshaker {
  display: block;
  width: 100%;
  height: 73px;
  margin-bottom: 20px;
  background: transparent url('../img/logo-jamshaker-s.png?1405634342') no-repeat center center;
  text-indent: -9999px;
  z-index: 2;
  background-image: url(../img/logo-jamshaker.png);
  width: 280px;
  height: 113px;
  margin-bottom: 0;
  top: 100px;
}

/***
 *                                   
 *                                   
 *     /$$$$$$$   /$$$$$$  /$$    /$$
 *    | $$__  $$ |____  $$|  $$  /$$/
 *    | $$  \ $$  /$$$$$$$ \  $$/$$/ 
 *    | $$  | $$ /$$__  $$  \  $$$/  
 *    | $$  | $$|  $$$$$$$   \  $/   
 *    |__/  |__/ \_______/    \_/    
 *                                   
 *                                   
 *                                   
 */
.contain-nav {
  position: absolute;
  bottom: 0;
}

.nav-main {
  position: relative;
  width: 100%;
}
.nav-main li {
  width: 100%;
  width: inherit;
  display: inline-block;
  float: left;
}
.nav-main li a {
  display: block;
  background-color: #f1eff1;
  color: #480c57;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px #d8d5d8 solid;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 10px 20px;
  text-align: left;
  border-bottom: none;
  background-color: #f7f6f7;
}
.nav-main li a:hover, .nav-main li a:focus, .nav-main li a:active, .nav-main li a.selected {
  color: #f7f6f7;
  background-color: #410b4e;
  background-color: #480c57;
}

.empty_message {
  position: relative;
  background-color: #e4e0e4;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.empty_message p {
  text-align: left;
}
.empty_message p a {
  color: #480c57;
}
.empty_message p a:hover {
  color: #6d1284;
}

/***
 *     /$$   /$$  /$$$$$$  /$$      /$$ /$$$$$$$$
 *    | $$  | $$ /$$__  $$| $$$    /$$$| $$_____/
 *    | $$  | $$| $$  \ $$| $$$$  /$$$$| $$      
 *    | $$$$$$$$| $$  | $$| $$ $$/$$ $$| $$$$$   
 *    | $$__  $$| $$  | $$| $$  $$$| $$| $$__/   
 *    | $$  | $$| $$  | $$| $$\  $ | $$| $$      
 *    | $$  | $$|  $$$$$$/| $$ \/  | $$| $$$$$$$$
 *    |__/  |__/ \______/ |__/     |__/|________/
 *                                               
 *                                               
 *                                               
 */
/***
 *     /$$             /$$                        
 *    |__/            | $$                        
 *     /$$ /$$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
 *    | $$| $$__  $$|_  $$_/   /$$__  $$ /$$__  $$
 *    | $$| $$  \ $$  | $$    | $$  \__/| $$  \ $$
 *    | $$| $$  | $$  | $$ /$$| $$      | $$  | $$
 *    | $$| $$  | $$  |  $$$$/| $$      |  $$$$$$/
 *    |__/|__/  |__/   \___/  |__/       \______/ 
 *                                                
 *                                                
 *                                                
 */
.text-acc {
  padding: 0 20px 30px;
  color: #480c57;
  line-height: 1.4em;
  text-align: center;
  font-size: 21px;
  font-size: 2.1rem;
  padding: 0 0 30px;
}
.text-acc a {
  color: #6d1284;
}
.text-acc a:hover {
  color: #80159a;
}

/***
*                                                /$$              
*                                               | $$              
*      /$$$$$$  /$$    /$$  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$$
*     /$$__  $$|  $$  /$$/ /$$__  $$| $$__  $$|_  $$_/   /$$_____/
*    | $$$$$$$$ \  $$/$$/ | $$$$$$$$| $$  \ $$  | $$    |  $$$$$$ 
*    | $$_____/  \  $$$/  | $$_____/| $$  | $$  | $$ /$$ \____  $$
*    |  $$$$$$$   \  $/   |  $$$$$$$| $$  | $$  |  $$$$/ /$$$$$$$/
*     \_______/    \_/     \_______/|__/  |__/   \___/  |_______/ 
*                                                                 
*                                                                 
*                                                                 
*/
.list-events {
  width: 100%;
  padding: 0 20px 50px;
  padding: 0 0 50px;
}
.list-events .item-event {
  width: 100%;
  border-top: 1px solid #d8d5d8;
  padding: 20px 0;
}
.list-events .item-event:after {
  display: table;
  content: "";
  clear: both;
}
.list-events .item-event .badge {
  display: block;
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.titre-event, .list-jeux .jeu .jeu-text .titre-jeu {
  font-family: "futuralt";
  text-transform: uppercase;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4em;
  text-align: left;
  color: #480c57;
}

.date-event {
  margin-top: 5px;
  margin-left: 65px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

/***
*                                            
*                                            
*           /$$  /$$$$$$  /$$   /$$ /$$   /$$
*          |__/ /$$__  $$| $$  | $$|  $$ /$$/
*           /$$| $$$$$$$$| $$  | $$ \  $$$$/ 
*          | $$| $$_____/| $$  | $$  >$$  $$ 
*          | $$|  $$$$$$$|  $$$$$$/ /$$/\  $$
*          | $$ \_______/ \______/ |__/  \__/
*     /$$  | $$                              
*    |  $$$$$$/                              
*     \______/                               
*/
.text-jeux {
  padding: 0 20px 30px;
  color: #480c57;
  line-height: 1.4em;
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  padding: 0 0 30px;
}

.list-jeux {
  width: 100%;
  padding: 0 20px 50px;
  padding: 0 0 50px;
}
.list-jeux .jeu {
  width: 100%;
  border-top: 1px solid #d8d5d8;
  padding: 20px 0;
}
.list-jeux .jeu:after {
  display: table;
  content: "";
  clear: both;
}
.list-jeux .jeu .jeu-img {
  float: left;
  width: 100%;
  text-align: center;
  width: 30%;
}
.list-jeux .jeu .jeu-img img {
  max-width: 100%;
  max-height: 100%;
}
.list-jeux .jeu .jeu-text {
  float: left;
  width: 100%;
  width: 70%;
  padding: 0 20px;
}
.list-jeux .jeu .jeu-text .badge {
  display: block;
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.list-jeux .jeu .jeu-text .event {
  padding: 8px;
  margin-left: 65px;
  margin-top: 8px;
  background-color: #480c57;
  color: #f7f6f7;
  text-transform: uppercase;
  font-family: "futuralt", sans-serif;
  line-height: 1.3em;
  font-size: 13px;
  font-size: 1.3rem;
  width: 300px;
}
.list-jeux .jeu .jeu-text .desc {
  padding: 10px 0;
  clear: both;
}
.list-jeux .jeu .jeu-text .lien-jeu {
  display: block;
  width: 100%;
  padding: 8px 8px;
  outline: 0;
  cursor: pointer;
  background-color: #d8d5d8;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "futuralt", sans-serif;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 100px;
}
.list-jeux .jeu .jeu-text .lien-jeu:hover {
  color: #f7f6f7;
  background-color: #480c57;
}

/***
 *     /$$$$$$$$ /$$    /$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$  /$$$$$$ 
 *    | $$_____/| $$   | $$| $$_____/| $$$ | $$|__  $$__/ /$$__  $$
 *    | $$      | $$   | $$| $$      | $$$$| $$   | $$   | $$  \__/
 *    | $$$$$   |  $$ / $$/| $$$$$   | $$ $$ $$   | $$   |  $$$$$$ 
 *    | $$__/    \  $$ $$/ | $$__/   | $$  $$$$   | $$    \____  $$
 *    | $$        \  $$$/  | $$      | $$\  $$$   | $$    /$$  \ $$
 *    | $$$$$$$$   \  $/   | $$$$$$$$| $$ \  $$   | $$   |  $$$$$$/
 *    |________/    \_/    |________/|__/  \__/   |__/    \______/ 
 *                                                                 
 *                                                                 
 *                                                                 
 */
/***
*                                   
*                                   
*     /$$$$$$$   /$$$$$$  /$$    /$$
*    | $$__  $$ |____  $$|  $$  /$$/
*    | $$  \ $$  /$$$$$$$ \  $$/$$/ 
*    | $$  | $$ /$$__  $$  \  $$$/  
*    | $$  | $$|  $$$$$$$   \  $/   
*    |__/  |__/ \_______/    \_/    
*                                   
*                                   
*                                   
*/
.second-nav {
  position: relative;
  margin: 0 auto 20px auto;
  width: 90%;
  width: 100%;
}
.second-nav:after {
  display: table;
  content: "";
  clear: both;
}

.nav-events {
  float: right;
}
.nav-events li {
  display: inline-block;
  float: left;
}
.nav-events li:first-of-type {
  margin-right: 10px;
}
.nav-events li a {
  display: block;
  padding: 15px 15px;
  background-color: #d8d5d8;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "futuralt", sans-serif;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav-events li a:hover, .nav-events li a:focus, .nav-events li a:active, .nav-events li a.selected {
  color: #f7f6f7;
  background-color: #480c57;
}

/***
*     /$$ /$$             /$$              
*    | $$|__/            | $$              
*    | $$ /$$  /$$$$$$$ /$$$$$$    /$$$$$$ 
*    | $$| $$ /$$_____/|_  $$_/   /$$__  $$
*    | $$| $$|  $$$$$$   | $$    | $$$$$$$$
*    | $$| $$ \____  $$  | $$ /$$| $$_____/
*    | $$| $$ /$$$$$$$/  |  $$$$/|  $$$$$$$
*    |__/|__/|_______/    \___/   \_______/
*                                          
*                                          
*                                          
*/
.contain-events {
  margin-bottom: 50px;
}

a.liste_events {
  display: block;
  outline: 0;
}

.liste_events {
  position: relative;
  background-color: #e4e0e4;
  padding-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-left: 4px solid #e4e0e4;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.liste_events:after {
  display: table;
  content: "";
  clear: both;
}
.liste_events:hover {
  border-color: #480c57;
}
.liste_events .badge {
  display: block;
  float: left;
  margin: 0 15px 0 10px;
  width: 50px;
  height: 50px;
}
.liste_events .info_sup {
  padding-left: 75px;
  margin-bottom: 20px;
  color: #480c57;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-family: "futuralt-light";
}
.liste_events .liste_places {
  float: right;
}
.liste_events .event_place {
  display: inline-block;
  float: left;
}
.liste_events .event_place a {
  display: block;
  outline: 0;
  background-color: #d8d5d8;
  padding: 10px;
  text-transform: uppercase;
  color: #480c57;
  font-family: "futuralt", sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 15px 20px;
  font-size: 12px;
  font-size: 1.2rem;
}
.liste_events .event_place a:hover, .liste_events .event_place a:focus, .liste_events .event_place a:active, .liste_events .event_place a.selected {
  color: #f7f6f7;
  background-color: #480c57;
}

/***
 *     /$$$$$$$$ /$$    /$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$  
 *    | $$_____/| $$   | $$| $$_____/| $$$ | $$|__  $$__/ 
 *    | $$      | $$   | $$| $$      | $$$$| $$   | $$  
 *    | $$$$$   |  $$ / $$/| $$$$$   | $$ $$ $$   | $$  
 *    | $$__/    \  $$ $$/ | $$__/   | $$  $$$$   | $$   
 *    | $$        \  $$$/  | $$      | $$\  $$$   | $$  
 *    | $$$$$$$$   \  $/   | $$$$$$$$| $$ \  $$   | $$  
 *    |________/    \_/    |________/|__/  \__/   |__/ 
 *                                                                 
 *                                                                 
 *                                                                 
 */
/***
 *     /$$            /$$$$$$                                                             
 *    |__/           /$$__  $$                                                            
 *     /$$ /$$$$$$$ | $$  \__/  /$$$$$$        /$$       /$$$$$$$   /$$$$$$  /$$$$$$/$$$$ 
 *    | $$| $$__  $$| $$$$     /$$__  $$      |__/      | $$__  $$ /$$__  $$| $$_  $$_  $$
 *    | $$| $$  \ $$| $$_/    | $$  \ $$                | $$  \ $$| $$  \ $$| $$ \ $$ \ $$
 *    | $$| $$  | $$| $$      | $$  | $$       /$$      | $$  | $$| $$  | $$| $$ | $$ | $$
 *    | $$| $$  | $$| $$      |  $$$$$$/      |__/      | $$  | $$|  $$$$$$/| $$ | $$ | $$
 *    |__/|__/  |__/|__/       \______/                 |__/  |__/ \______/ |__/ |__/ |__/
 *                                                                                        
 *                                                                                        
 *                                                                                        
 */
/***
 *           /$$             /$$                           /$$       /$$                                     /$$                    
 *          | $$            | $$                          /$$/      | $$                                    |__/                    
 *      /$$$$$$$  /$$$$$$  /$$$$$$    /$$$$$$            /$$/       | $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$ 
 *     /$$__  $$ |____  $$|_  $$_/   /$$__  $$          /$$/        | $$__  $$ /$$__  $$ /$$__  $$ |____  $$| $$ /$$__  $$ /$$__  $$
 *    | $$  | $$  /$$$$$$$  | $$    | $$$$$$$$         /$$/         | $$  \ $$| $$  \ $$| $$  \__/  /$$$$$$$| $$| $$  \__/| $$$$$$$$
 *    | $$  | $$ /$$__  $$  | $$ /$$| $$_____/        /$$/          | $$  | $$| $$  | $$| $$       /$$__  $$| $$| $$      | $$_____/
 *    |  $$$$$$$|  $$$$$$$  |  $$$$/|  $$$$$$$       /$$/           | $$  | $$|  $$$$$$/| $$      |  $$$$$$$| $$| $$      |  $$$$$$$
 *     \_______/ \_______/   \___/   \_______/      |__/            |__/  |__/ \______/ |__/       \_______/|__/|__/       \_______/
 *                                                                                                                                  
 *                                                                                                                                  
 *                                                                                                                                  
 */
.contain-info-event {
  position: relative;
  width: 100%;
}
.contain-info-event:after {
  display: table;
  content: "";
  clear: both;
}

.conteneur-flottant {
  position: relative;
  width: 100%;
  padding-top: 50px;
  float: left;
  width: 50%;
}
.conteneur-flottant .conteneur-titre {
  position: relative;
  float: right;
  width: 350px;
  width: 400px;
  width: 450px;
  width: 500px;
}
.conteneur-flottant .conteneur-titre .badge {
  display: block;
  float: left;
  margin: 0 15px 0 10px;
  width: 50px;
  height: 50px;
}

.info {
  position: relative;
  width: 100%;
  background-color: #480c57;
  padding: 50px;
  float: right;
  width: 50%;
}
.info:after {
  display: table;
  content: "";
  clear: both;
}
.info .date, .info .horaire {
  color: #f7f6f7;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  float: left;
  width: 50%;
  float: none;
  width: 100%;
}
.info .date {
  padding-bottom: 15px;
}
.info .icon-clock {
  float: left;
}
.info .p-horaire {
  display: block;
  float: left;
}

/***
 *                                      
 *                                      
 *     /$$$$$$/$$$$   /$$$$$$   /$$$$$$ 
 *    | $$_  $$_  $$ |____  $$ /$$__  $$
 *    | $$ \ $$ \ $$  /$$$$$$$| $$  \ $$
 *    | $$ | $$ | $$ /$$__  $$| $$  | $$
 *    | $$ | $$ | $$|  $$$$$$$| $$$$$$$/
 *    |__/ |__/ |__/ \_______/| $$____/ 
 *                            | $$      
 *                            | $$      
 *                            |__/      
 */
.map {
  position: relative;
  width: 100%;
  height: 250px;
}

/***
 *           /$$                                         /$$             /$$     /$$                    
 *          | $$                                        |__/            | $$    |__/                    
 *      /$$$$$$$  /$$$$$$   /$$$$$$$  /$$$$$$$  /$$$$$$  /$$  /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$ 
 *     /$$__  $$ /$$__  $$ /$$_____/ /$$_____/ /$$__  $$| $$ /$$__  $$|_  $$_/  | $$ /$$__  $$| $$__  $$
 *    | $$  | $$| $$$$$$$$|  $$$$$$ | $$      | $$  \__/| $$| $$  \ $$  | $$    | $$| $$  \ $$| $$  \ $$
 *    | $$  | $$| $$_____/ \____  $$| $$      | $$      | $$| $$  | $$  | $$ /$$| $$| $$  | $$| $$  | $$
 *    |  $$$$$$$|  $$$$$$$ /$$$$$$$/|  $$$$$$$| $$      | $$| $$$$$$$/  |  $$$$/| $$|  $$$$$$/| $$  | $$
 *     \_______/ \_______/|_______/  \_______/|__/      |__/| $$____/    \___/  |__/ \______/ |__/  |__/
 *                                                          | $$                                        
 *                                                          | $$                                        
 *                                                          |__/                                        
 */
.description {
  padding: 20px;
  color: #480c57;
  font-size: 14px;
  font-size: 1.4rem;
}
.description a {
  color: #6d1284;
}
.description a:hover {
  color: #80159a;
}

/***
 *                                             /$$       /$$                    
 *                                            | $$      |__/                    
 *      /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$$$$$$  /$$  /$$$$$$$  /$$$$$$$
 *     /$$__  $$ /$$__  $$ |____  $$ /$$__  $$| $$__  $$| $$ /$$_____/ /$$_____/
 *    | $$  \ $$| $$  \__/  /$$$$$$$| $$  \ $$| $$  \ $$| $$| $$      |  $$$$$$ 
 *    | $$  | $$| $$       /$$__  $$| $$  | $$| $$  | $$| $$| $$       \____  $$
 *    |  $$$$$$$| $$      |  $$$$$$$| $$$$$$$/| $$  | $$| $$|  $$$$$$$ /$$$$$$$/
 *     \____  $$|__/       \_______/| $$____/ |__/  |__/|__/ \_______/|_______/ 
 *     /$$  \ $$                    | $$                                        
 *    |  $$$$$$/                    | $$                                        
 *     \______/                     |__/                                        
 */
.graphics {
  padding: 20px 0;
  margin-bottom: 20px;
}
.graphics:after {
  display: table;
  content: "";
  clear: both;
}
.graphics .schema-doughnut {
  width: 100%;
  float: left;
  width: 50%;
  margin-bottom: 0;
}
.graphics .schema-doughnut .doughnut {
  display: block;
  margin: 0 auto;
}
.graphics .schema-bar {
  width: 100%;
  margin-top: 20px;
  float: right;
  width: 50%;
  margin-top: 0;
}
.graphics .schema-bar .bar {
  display: block;
  margin: 0 auto;
}
.graphics .part_total {
  position: relative;
  width: 100%;
  clear: both;
  padding-top: 25px;
}
.graphics .part_total p {
  position: relative;
  background-color: #d8d5d8;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
}

/***
 *      /$$$$$$                                              /$$           /$$                    
 *     /$$__  $$                                            | $$          |__/                    
 *    | $$  \__/  /$$$$$$   /$$$$$$  /$$$$$$/$$$$  /$$   /$$| $$  /$$$$$$  /$$  /$$$$$$   /$$$$$$ 
 *    | $$$$     /$$__  $$ /$$__  $$| $$_  $$_  $$| $$  | $$| $$ |____  $$| $$ /$$__  $$ /$$__  $$
 *    | $$_/    | $$  \ $$| $$  \__/| $$ \ $$ \ $$| $$  | $$| $$  /$$$$$$$| $$| $$  \__/| $$$$$$$$
 *    | $$      | $$  | $$| $$      | $$ | $$ | $$| $$  | $$| $$ /$$__  $$| $$| $$      | $$_____/
 *    | $$      |  $$$$$$/| $$      | $$ | $$ | $$|  $$$$$$/| $$|  $$$$$$$| $$| $$      |  $$$$$$$
 *    |__/       \______/ |__/      |__/ |__/ |__/ \______/ |__/ \_______/|__/|__/       \_______/
 *                                                                                                
 *                                                                                                
 *                                                                                                
 */
.bloc-formulaire {
  background-color: #480c57;
  padding: 30px 0 50px 0;
}

.inscription-event {
  position: relative;
  width: 90%;
  margin: 0 auto;
  width: 100%;
  margin: 0;
}
.inscription-event:after {
  display: table;
  content: "";
  clear: both;
}
.inscription-event .form-bloc-g {
  float: left;
  width: 100%;
  width: 50%;
}
.inscription-event .form-bloc-d {
  float: right;
  width: 100%;
  width: 50%;
}

.input-inscription {
  color: #480c57;
  font-family: "futuralt", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  padding: 8px 3px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  width: 90%;
}
.input-inscription:last-of-type {
  margin-bottom: 0;
}
.input-inscription:hover, .input-inscription:focus, .input-inscription:active {
  background-color: #dfdbdf;
}
.input-inscription.error {
  background-color: #fab2bb;
  color: #75121e;
}
.input-inscription.error [placeholder] {
  color: #75121e;
}

.btn-envoi {
  float: right;
  cursor: pointer;
  width: 100%;
  border: none;
  height: 60px;
  color: #480c57;
  font-family: "futuralt", sans-serif;
  text-transform: uppercase;
  background-color: white;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  width: 90%;
}
.btn-envoi:hover, .btn-envoi:focus, .btn-envoi:active {
  background-color: #dfdbdf;
}

/***
 *        /$$$$$ /$$$$$$$$ /$$   /$$ /$$   /$$
 *       |__  $$| $$_____/| $$  | $$| $$  / $$
 *          | $$| $$      | $$  | $$|  $$/ $$/
 *          | $$| $$$$$   | $$  | $$ \  $$$$/ 
 *     /$$  | $$| $$__/   | $$  | $$  >$$  $$ 
 *    | $$  | $$| $$      | $$  | $$ /$$/\  $$
 *    |  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  \ $$
 *     \______/ |________/ \______/ |__/  |__/
 *                                            
 *                                            
 *                                            
 */
.contains-jeux {
  padding: 50px 0;
}

.badge-event {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  margin-left: 0;
}

.grille-jeux {
  position: relative;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  clear: both;
}
.grille-jeux .item-jeu {
  display: inline-block;
  height: 250px;
  margin: 10px 10px 0;
  vertical-align: top;
}
.grille-jeux .item-jeu .lien_jeu {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  outline: 0;
}
.grille-jeux .item-jeu .desc-jeu {
  display: none;
  opacity: 0;
  overflow: hidden;
}
.grille-jeux .item-jeu .desc-jeu .fleche {
  position: relative;
  width: 250px;
  height: 10px;
  background: transparent url('../img/fleche_jeu.png?1408358937') no-repeat center center;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc {
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 500px;
  padding: 50px 30px;
  background-color: #d6d5d6;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .icon-close {
  display: none;
  position: absolute;
  display: block;
  top: 20px;
  right: 30px;
  cursor: pointer;
  padding: 10px;
  outline: 0;
  font-size: 30px;
  font-size: 3rem;
  color: #480c57;
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear;
  -webkit-transform: 1;
  -moz-transform: 1;
  -ms-transform: 1;
  -o-transform: 1;
  transform: 1;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .icon-close:hover {
  -webkit-transform: 1;
  -moz-transform: 1;
  -ms-transform: 1;
  -o-transform: 1;
  transform: 1;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .img-desc {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  width: 50%;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .img-desc img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .text-desc {
  width: 100%;
  height: 100%;
  float: left;
  width: 50%;
  padding-left: 30px;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .text-desc .titre-jeu {
  padding: 20px 0;
  font-family: "futuralt";
  text-transform: uppercase;
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.4em;
  text-align: left;
  color: #480c57;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .text-desc .text {
  margin-bottom: 20px;
  color: #480c57;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: left;
  font-family: "futuralt", sans-serif;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .text-desc .text span {
  display: inline-block;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .text-desc .lien-jeu {
  display: block;
  width: 100%;
  padding: 15px 15px;
  background-color: #b3adb3;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "futuralt", sans-serif;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.grille-jeux .item-jeu .desc-jeu .contenu-desc .text-desc .lien-jeu:hover {
  color: #f7f6f7;
  background-color: #480c57;
}
