@charset "UTF-8";
/**	 IMPORTS  */
/* RESET */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { margin: 0; padding: 0; font-size: 62.5%; }

body { margin: 0; padding: 0; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }

::selection { background: #ccc; color: #fff; text-shadow: none; }

a { text-decoration: none; outline: none; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

p { margin: 0 0 1em 0; }

p:last-of-type { margin: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; }

code { display: inline-block; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: normal; }

ul, ol { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 0 0; font-size: 100%; }

ul, li { margin: 0; padding: 0; list-style-type: none; }

dd { margin: 0; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

html { font-size: 62.5%; }

/* BREAKPOINTS */
/*
$mq-breakpoints: ( mobile:  320px, tablet:  740px, desktop: 980px, wide:    1300px
) !default;
*/
body:before { background-color: #FCF8E3; border-bottom: 1px solid #FBEED5; border-left: 1px solid #FBEED5; color: #C09853; font: small-caption; padding: 3px 6px; position: absolute; right: 0; top: 0; z-index: 100; }
@media all and (min-width: 20em) { body:before { content: "mobile ≥ 320px (20em)"; } }
@media all and (min-width: 30em) { body:before { content: "mobileLandscape ≥ 480px (30em)"; } }
@media all and (min-width: 48em) { body:before { content: "tablet ≥ 768px (48em)"; } }
@media all and (min-width: 62.5em) { body:before { content: "desktop ≥ 1000px (62.5em)"; } }
@media all and (min-width: 77.5em) { body:before { content: "wide ≥ 1240px (77.5em)"; } }
@media all and (min-width: 100em) { body:before { content: "xwide ≥ 1600px (100em)"; } }

/* Tag on top right-corner
body.admin-bar:before {
	top: 47px;

	@include mq($from: wp-admin-bar) {
		top: 32px;
	}
}
*/
/* Tag on bottom right-corner */
body:before { top: 0; font-size: 10px; }

@font-face { font-family: 'futuralt-heavy'; src: url("../fonts/futuralt-heavy.eot"); src: url("../fonts/futuralt-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-heavy.woff") format("woff"), url("../fonts/futuralt-heavy.ttf") format("truetype"), url("../fonts/futuralt-heavy.svg#futuralt-heavy") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'futuralt-light'; src: url("../fonts/futuralt-light.eot"); src: url("../fonts/futuralt-light.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-light.woff") format("woff"), url("../fonts/futuralt-light.ttf") format("truetype"), url("../fonts/futuralt-light.svg#futuralt-light") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'futuralt'; src: url("../fonts/futuralt.eot"); src: url("../fonts/futuralt.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt.woff") format("woff"), url("../fonts/futuralt.ttf") format("truetype"), url("../fonts/futuralt.svg#futuralt") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'futurace-light'; src: url("../fonts/futurace-light.eot"); src: url("../fonts/futurace-light.eot?#iefix") format("embedded-opentype"), url("../fonts/futurace-light.woff") format("woff"), url("../fonts/futurace-light.ttf") format("truetype"), url("../fonts/futurace-light.svg#futuralt-light") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'icomoon-admin'; src: url("../fonts/icomoon-admin.eot?-g6hkgf"); src: url("../fonts/icomoon-admin.eot?#iefix-g6hkgf") format("embedded-opentype"), url("../fonts/icomoon-admin.woff?-g6hkgf") format("woff"), url("../fonts/icomoon-admin.ttf?-g6hkgf") format("truetype"), url("../fonts/icomoon-admin.svg?-g6hkgf#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon-admin'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-modif:before { display: block; padding: 8px 0 0 8px; font-size: 15px; font-size: 1.5rem; content: "\e600"; }

.icon-supp:before { display: block; padding: 8px 0 0 8px; font-size: 15px; font-size: 1.5rem; content: "\e601"; }

@font-face { font-family: "responsivenav"; src: url("../fonts/responsivenav.eot"); src: url("../fonts/responsivenav.eot?#iefix") format("embedded-opentype"), url("../fonts/responsivenav.ttf") format("truetype"), url("../fonts/responsivenav.woff") format("woff"), url("../fonts/responsivenav.svg#responsivenav") format("svg"); font-weight: normal; font-style: normal; }
@media all and (max-width: 47.99em) { .nav-collapse.opened { max-height: 9999px; }
  .js .nav-collapse { clip: rect(0 0 0 0); max-height: 0; position: absolute; display: block; overflow: hidden; zoom: 1; } }
@media all and (min-width: 48em) { .js .nav-collapse { position: relative; } }

.disable-pointer-events { pointer-events: none !important; }

.nav-toggle { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; display: block; width: 100%; background-color: #480c57; font-family: "futuralt-light"; text-transform: uppercase; font-size: 12px; font-size: 1.2rem; color: #fff; padding: 10px; }
.nav-toggle:before { color: #fff; /* Edit this to change the icon color */ font-family: "responsivenav", sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 13px; text-transform: none; content: "≡"; text-indent: 0; padding-right: 5px; speak: none; width: 100%; top: 0; left: 0; -webkit-font-smoothing: antialiased; }
.nav-toggle.active::before { content: "x"; }
@media all and (min-width: 48em) { .nav-toggle { display: none; } }

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single { z-index: 9999; display: block; position: relative; color: #333; background: #fff; border: 1px solid #ccc; border-bottom-color: #bbb; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before, .pika-single:after { content: " "; display: table; }

.pika-single:after { clear: both; }

.pika-single { *zoom: 1; }

.pika-single.is-hidden { display: none; }

.pika-single.is-bound { position: absolute; box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-lendar { float: left; width: 240px; margin: 8px; }

.pika-title { position: relative; text-align: center; }

.pika-label { display: inline-block; *display: inline; position: relative; z-index: 9999; overflow: hidden; margin: 0; padding: 5px 3px; font-size: 14px; line-height: 20px; font-weight: bold; background-color: #fff; }

.pika-title select { cursor: pointer; position: absolute; z-index: 9998; margin: 0; left: 0; top: 5px; filter: alpha(opacity=0); opacity: 0; }

.pika-prev, .pika-next { display: block; cursor: pointer; position: relative; outline: none; border: 0; padding: 0; width: 20px; height: 30px; /* hide text using text-indent trick, using width value (it's enough) */ text-indent: 20px; white-space: nowrap; overflow: hidden; background-color: transparent; background-position: center center; background-repeat: no-repeat; background-size: 75% 75%; opacity: .5; *position: absolute; *top: 0; }

.pika-prev:hover, .pika-next:hover { opacity: 1; }

.pika-prev, .is-rtl .pika-next { float: left; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg=="); *left: 0; }

.pika-next, .is-rtl .pika-prev { float: right; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII="); *right: 0; }

.pika-prev.is-disabled, .pika-next.is-disabled { cursor: default; opacity: .2; }

.pika-select { display: inline-block; *display: inline; }

.pika-table { width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; }

.pika-table th, .pika-table td { width: 14.285714285714286%; padding: 0; }

.pika-table th { color: #999; font-size: 12px; line-height: 25px; font-weight: bold; text-align: center; }

.pika-button { cursor: pointer; display: block; box-sizing: border-box; -moz-box-sizing: border-box; outline: none; border: 0; margin: 0; width: 100%; padding: 5px; color: #666; font-size: 12px; line-height: 15px; text-align: right; background: #f5f5f5; }

.pika-week { font-size: 11px; color: #999; }

.is-today .pika-button { color: #33aaff; font-weight: bold; }

.is-selected .pika-button { color: #fff; font-weight: bold; background: #33aaff; box-shadow: inset 0 1px 3px #178fe5; border-radius: 3px; }

.is-disabled .pika-button { pointer-events: none; cursor: default; color: #999; opacity: .3; }

.pika-button:hover { color: #fff !important; background: #ff8000 !important; box-shadow: none !important; border-radius: 3px !important; }

/* styling for abbr */
.pika-table abbr { border-bottom: none; cursor: help; }

.hidden { display: none; }

.clear { clear: both; }

.align-left { text-align: left; }

.align-center { text-align: center; }

.align-right { text-align: right; }

.fluid-image { width: 100%; height: auto; }

.absolute-child { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.vertical-align { display: table; width: 100%; height: 100%; }

.vertical-align-inner { display: table-cell; vertical-align: middle; }

@media all and (min-width: 48em) { .to-tablet { display: none; } }

@media all and (min-width: 62.5em) { .to-desktop { display: none; } }

@media all and (max-width: 47.99em) { .from-tablet { display: none; } }

@media all and (max-width: 62.49em) { .from-desktop { display: none; } }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; outline: none; }

html { -webkit-text-size-adjust: 100%; }

body { font-size: 14px; font-size: 1.4rem; font-family: "Open Sans", sans-serif; color: #323131; background-color: #fff; }
body.admin, body.admin-2 { width: 100%; height: 100%; background-color: #e6e8ea; }
@media all and (min-width: 48em) { body.admin, body.admin-2 { background: transparent url('../img/bg-admin.jpg?1421242091') no-repeat center center fixed; background-size: cover; -webkit-background-size: cover; } }

/***  /$$$$$$   /$$$$$$  /$$   /$$ /$$   /$$ /$$$$$$$$ /$$   /$$ /$$$$$$  /$$$$$$  /$$   /$$  /$$__  $$ /$$__  $$| $$$ | $$| $$$ | $$| $$_____/| $$  / $$|_  $$_/ /$$__  $$| $$$ | $$ | $$  \__/| $$  \ $$| $$$$| $$| $$$$| $$| $$      |  $$/ $$/  | $$  | $$  \ $$| $$$$| $$ | $$      | $$  | $$| $$ $$ $$| $$ $$ $$| $$$$$    \  $$$$/   | $$  | $$  | $$| $$ $$ $$ | $$      | $$  | $$| $$  $$$$| $$  $$$$| $$__/     >$$  $$   | $$  | $$  | $$| $$  $$$$ | $$    $$| $$  | $$| $$\  $$$| $$\  $$$| $$       /$$/\  $$  | $$  | $$  | $$| $$\  $$$ |  $$$$$$/|  $$$$$$/| $$ \  $$| $$ \  $$| $$$$$$$$| $$  \ $$ /$$$$$$|  $$$$$$/| $$ \  $$ \______/  \______/ |__/  \__/|__/  \__/|________/|__/  |__/|______/ \______/ |__/  \__/    */
.wrapper-connect { position: relative; width: 80%; margin: 80px auto 0; }
@media all and (min-width: 48em) { .wrapper-connect { width: 350px; margin-top: 150px; } }
@media all and (min-width: 62.5em) { .wrapper-connect { width: 400px; margin-top: 200px; } }

.input { width: 100%; margin-bottom: 20px; padding: 5px; border: 3px solid #cdd0d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-family: "futuralt-light"; font-size: 12px; font-size: 1.2rem; color: #7b838d; -moz-transition: border 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: border 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: border 0.3s ease-in-out, color 0.3s ease-in-out; transition: border 0.3s ease-in-out, color 0.3s ease-in-out; }
.input:hover, .input:active { border-color: #480c57; color: #480c57; }
@media all and (min-width: 48em) { .input { padding: 10px; font-size: 14px; font-size: 1.4rem; } }

.btn-envoyer { width: 100%; padding: 10px 0; background-color: #480c57; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-align: center; text-transform: uppercase; font-family: "futuralt-light"; color: #fff; font-size: 12px; font-size: 1.2rem; -moz-transition: background-color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; }
.btn-envoyer:hover { background-color: #2a0733; }
@media all and (min-width: 48em) { .btn-envoyer { padding: 20px 0; font-size: 14px; font-size: 1.4rem; } }

/***  /$$$$$$  /$$$$$$$  /$$      /$$ /$$$$$$ /$$   /$$  /$$__  $$| $$__  $$| $$$    /$$$|_  $$_/| $$$ | $$ | $$  \ $$| $$  \ $$| $$$$  /$$$$  | $$  | $$$$| $$ | $$$$$$$$| $$  | $$| $$ $$/$$ $$  | $$  | $$ $$ $$ | $$__  $$| $$  | $$| $$  $$$| $$  | $$  | $$  $$$$ | $$  | $$| $$  | $$| $$\  $ | $$  | $$  | $$\  $$$ | $$  | $$| $$$$$$$/| $$ \/  | $$ /$$$$$$| $$ \  $$ |__/  |__/|_______/ |__/     |__/|______/|__/  \__/    */
.wrapper { position: relative; width: 90%; margin: 0 auto; }
@media all and (min-width: 48em) { .wrapper { width: 760px; } }
@media all and (min-width: 62.5em) { .wrapper { width: 960px; } }
@media all and (min-width: 77.5em) { .wrapper { width: 1100px; } }

/***
*     /$$$$$$$  /$$        /$$$$$$   /$$$$$$         /$$$$$$   /$$$$$$  /$$   /$$  /$$$$$$  /$$   /$$ /$$$$$$$$
*    | $$__  $$| $$       /$$__  $$ /$$__  $$       /$$__  $$ /$$__  $$| $$  | $$ /$$__  $$| $$  | $$| $$_____/
*    | $$  \ $$| $$      | $$  \ $$| $$  \__/      | $$  \__/| $$  \ $$| $$  | $$| $$  \__/| $$  | $$| $$      
*    | $$$$$$$ | $$      | $$  | $$| $$            | $$ /$$$$| $$$$$$$$| $$  | $$| $$      | $$$$$$$$| $$$$$   
*    | $$__  $$| $$      | $$  | $$| $$            | $$|_  $$| $$__  $$| $$  | $$| $$      | $$__  $$| $$__/   
*    | $$  \ $$| $$      | $$  | $$| $$    $$      | $$  \ $$| $$  | $$| $$  | $$| $$    $$| $$  | $$| $$      
*    | $$$$$$$/| $$$$$$$$|  $$$$$$/|  $$$$$$/      |  $$$$$$/| $$  | $$|  $$$$$$/|  $$$$$$/| $$  | $$| $$$$$$$$
*    |_______/ |________/ \______/  \______/        \______/ |__/  |__/ \______/  \______/ |__/  |__/|________/
*                                                                                                              
*                                                                                                              
*                                                                                                              
*/
.contain-g { position: relative; float: left; width: 100%; padding-top: 20px; }
@media all and (min-width: 48em) { .contain-g { position: fixed; width: 230px; } }
@media all and (min-width: 62.5em) { .contain-g { width: 260px; } }
@media all and (min-width: 77.5em) { .contain-g { width: 300px; } }

.logo { display: block; width: 150px; height: 80px; margin: 0 auto; background: transparent url('../img/logo.png?1421016926') no-repeat top left; background-size: 100% auto; text-indent: -9999px; z-index: 2; margin-bottom: 10px; }
@media all and (min-width: 48em) { .logo { width: 180px; height: 100px; margin: 0 0 15px; } }
@media all and (min-width: 62.5em) { .logo { width: 200px; margin-bottom: 20px; } }

.menu-admin { position: relative; width: 100%; }
@media all and (min-width: 48em) { .menu-admin { width: 190px; } }
@media all and (min-width: 62.5em) { .menu-admin { width: 220px; } }
@media all and (min-width: 77.5em) { .menu-admin { width: 260px; } }
.menu-admin .item { width: 100%; }
@media all and (min-width: 48em) { .menu-admin .item { margin-bottom: 5px; }
  .menu-admin .item:last-of-type { margin-bottom: 0px; } }
.menu-admin .item-a { display: block; padding: 10px; background-color: #fff; text-transform: uppercase; font-family: "futuralt-light"; color: #480c57; font-size: 12px; font-size: 1.2rem; border-bottom: 1px solid #480c57; -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
.menu-admin .item-a:hover, .menu-admin .item-a.selected { background-color: #2a0733; color: #fff; }
@media all and (min-width: 48em) { .menu-admin .item-a { border-bottom: 0; padding: 15px; background-color: #480c57; font-size: 14px; font-size: 1.4rem; color: #fff; }
  .menu-admin .item-a:hover, .menu-admin .item-a.selected { background-color: #2a0733; } }

/***  /$$$$$$$  /$$        /$$$$$$   /$$$$$$        /$$$$$$$  /$$$$$$$   /$$$$$$  /$$$$$$ /$$$$$$$$ | $$__  $$| $$       /$$__  $$ /$$__  $$      | $$__  $$| $$__  $$ /$$__  $$|_  $$_/|__  $$__/ | $$  \ $$| $$      | $$  \ $$| $$  \__/      | $$  \ $$| $$  \ $$| $$  \ $$  | $$     | $$    | $$$$$$$ | $$      | $$  | $$| $$            | $$  | $$| $$$$$$$/| $$  | $$  | $$     | $$    | $$__  $$| $$      | $$  | $$| $$            | $$  | $$| $$__  $$| $$  | $$  | $$     | $$    | $$  \ $$| $$      | $$  | $$| $$    $$      | $$  | $$| $$  \ $$| $$  | $$  | $$     | $$    | $$$$$$$/| $$$$$$$$|  $$$$$$/|  $$$$$$/      | $$$$$$$/| $$  | $$|  $$$$$$/ /$$$$$$   | $$    |_______/ |________/ \______/  \______/       |_______/ |__/  |__/ \______/ |______/   |__/       */
.contain-d { position: relative; float: right; width: 100%; background-color: rgba(255, 255, 255, 0.9); margin-top: 20px; }
@media all and (min-width: 48em) { .contain-d { width: 530px; margin-top: 0; } }
@media all and (min-width: 62.5em) { .contain-d { width: 700px; } }
@media all and (min-width: 77.5em) { .contain-d { width: 800px; } }

/***  /$$     /$$   /$$                         | $$    |__/  | $$                          /$$$$$$   /$$ /$$$$$$    /$$$$$$   /$$$$$$  |_  $$_/  | $$|_  $$_/   /$$__  $$ /$$__  $$ | $$    | $$  | $$    | $$  \__/| $$$$$$$$ | $$ /$$| $$  | $$ /$$| $$      | $$_____/ |  $$$$/| $$  |  $$$$/| $$      |  $$$$$$$ \___/  |__/   \___/  |__/       \_______/    */
.titre-h1 { padding: 10px; text-transform: uppercase; font-family: "futuralt-heavy"; font-size: 18px; font-size: 1.8rem; color: #480c57; }
@media all and (min-width: 48em) { .titre-h1 { font-size: 22px; font-size: 2.2rem; padding: 15px; } }
@media all and (min-width: 62.5em) { .titre-h1 { font-size: 25px; font-size: 2.5rem; } }

.separateur { border: 1px solid #480c57; margin: 0 0 20px; }
@media all and (min-width: 48em) { .separateur { margin-bottom: 30px; } }

.titre-h2 { width: 100%; padding: 5px 10px; background-color: #480c57; text-transform: uppercase; font-family: "futurace-light"; font-size: 15px; font-size: 1.5rem; color: #fff; }
@media all and (min-width: 48em) { .titre-h2 { padding: 5px 15px; font-size: 16px; font-size: 1.6rem; } }
@media all and (min-width: 62.5em) { .titre-h2 { font-size: 18px; font-size: 1.8rem; } }

/***  /$$$$$$                                              /$$           /$$                      /$$__  $$                                            | $$          |__/                     | $$  \__/  /$$$$$$   /$$$$$$  /$$$$$$/$$$$  /$$   /$$| $$  /$$$$$$  /$$  /$$$$$$   /$$$$$$  | $$$$     /$$__  $$ /$$__  $$| $$_  $$_  $$| $$  | $$| $$ |____  $$| $$ /$$__  $$ /$$__  $$ | $$_/    | $$  \ $$| $$  \__/| $$ \ $$ \ $$| $$  | $$| $$  /$$$$$$$| $$| $$  \__/| $$$$$$$$ | $$      | $$  | $$| $$      | $$ | $$ | $$| $$  | $$| $$ /$$__  $$| $$| $$      | $$_____/ | $$      |  $$$$$$/| $$      | $$ | $$ | $$|  $$$$$$/| $$|  $$$$$$$| $$| $$      |  $$$$$$$ |__/       \______/ |__/      |__/ |__/ |__/ \______/ |__/ \_______/|__/|__/       \_______/    */
.form-admin { margin-top: 10px; padding: 10px; }
@media all and (min-width: 48em) { .form-admin { margin-top: 20px; padding: 15px; } }

.item-form { *zoom: 1; clear: both; margin-bottom: 10px; }
.item-form:before, .item-form:after { display: table; content: ""; }
.item-form:after { clear: both; }
.item-form:last-of-type { margin-bottom: 0; }

.label { display: block; width: 100%; padding-bottom: 5px; font-family: "Open Sans", sans-serif; font-size: 12px; font-size: 1.2rem; color: #000; }
@media all and (min-width: 48em) { .label { float: left; width: 20%; padding: 10px 10px 0 0; } }

.input-text, .input-textarea, .input-select { display: block; width: 100%; padding: 10px; border: 1px solid #cdd0d4; background-color: #fff; color: #000; font-family: "Open Sans", sans-serif; font-size: 12px; font-size: 1.2rem; -moz-transition: border 0.3s ease-in-out; -o-transition: border 0.3s ease-in-out; -webkit-transition: border 0.3s ease-in-out; transition: border 0.3s ease-in-out; }
.input-text:hover, .input-textarea:hover, .input-select:hover, .input-text:active, .input-textarea:active, .input-select:active { border-color: #480c57; }
@media all and (min-width: 48em) { .input-text, .input-textarea, .input-select { width: 80%; } }

.btn-radio { position: relative; float: left; width: 100%; }
@media all and (min-width: 48em) { .btn-radio { width: 80%; } }
.btn-radio .bloc-radio { width: 100%; }
.btn-radio .bloc-radio .input-radio { margin-top: 12px; margin-right: 5px; }
.btn-radio .bloc-radio .label-radio { font-family: "Open Sans", sans-serif; font-size: 12px; font-size: 1.2rem; color: #000; margin-right: 10px; }

.btn-checkbox { position: relative; float: left; width: 100%; }
@media all and (min-width: 48em) { .btn-checkbox { width: 80%; } }
.btn-checkbox .bloc-checkbox { width: 100%; }
.btn-checkbox .bloc-checkbox .input-checkbox { margin-top: 12px; margin-right: 5px; }
.btn-checkbox .bloc-checkbox .label-checkbox { font-family: "Open Sans", sans-serif; font-size: 12px; font-size: 1.2rem; color: #000; margin-right: 10px; }

.map { width: 100%; height: 300px; }
@media all and (min-width: 48em) { .map { width: 80%; } }

.btn-map { display: block; float: left; width: 130px; margin-top: 10px; margin-right: 10px; padding: 5px 0; background-color: #480c57; color: #fff; text-transform: uppercase; font-family: "futuralt-light"; font-size: 12px; font-size: 1.2rem; text-align: center; -moz-transition: background-color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; }
@media all and (min-width: 48em) { .btn-map:nth-of-type(odd) { margin-left: 20%; } }
@media all and (min-width: 62.5em) { .btn-map:nth-of-type(n) { margin-left: 0; }
  .btn-map:nth-of-type(3n+1) { margin-left: 20%; } }
.btn-map:hover { background-color: #2a0733; }

.img-miniature { position: relative; float: left; width: 100%; }
@media all and (min-width: 48em) { .img-miniature { width: 80%; } }
.img-miniature .bloc-img { position: relative; float: left; margin-right: 5px; margin-bottom: 5px; width: 110px; height: 110px; }
.img-miniature .bloc-img .img { position: relative; width: 100%; height: 100%; }
.img-miniature .bloc-img .cache { position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.8); opacity: 0; -moz-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; -webkit-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }
.img-miniature .bloc-img .cache .icon { display: block; float: left; width: 35px; height: 35px; margin-top: 40px; margin-left: 15px; border: #480c57 solid 2px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; color: #480c57; -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
.img-miniature .bloc-img .cache .icon.icon-supp { margin-left: 10px; }
.img-miniature .bloc-img .cache .icon:hover { background-color: #480c57; color: #fff; }
.img-miniature .bloc-img:hover .cache { opacity: 1; }
.img-miniature .ajouter { clear: both; }
.img-miniature .ajouter .ajout-a { display: block; width: 200px; padding: 5px 10px; background-color: #480c57; text-transform: uppercase; color: #fff; font-family: "futuralt-light"; font-size: 12px; font-size: 1.2rem; -moz-transition: background-color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; }
.img-miniature .ajouter .ajout-a:hover { color: #fff; background-color: #2a0733; }

.document-joint { position: relative; float: left; width: 100%; }
@media all and (min-width: 48em) { .document-joint { width: 80%; } }
.document-joint .bloc-fichier { position: relative; float: left; margin-bottom: 5px; width: 100%; }
.document-joint .bloc-fichier .nom-fichier { float: left; margin-right: 20px; padding-top: 10px; font-family: "Open Sans", sans-serif; font-size: 12px; font-size: 1.2rem; color: #000; }
.document-joint .bloc-fichier .option { float: left; }
.document-joint .bloc-fichier .option .icon { display: block; float: left; width: 35px; height: 35px; border: #480c57 solid 2px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; color: #480c57; -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
.document-joint .bloc-fichier .option .icon:hover { background-color: #480c57; color: #fff; }
.document-joint .bloc-fichier .option .icon:first-of-type { margin-right: 10px; }
.document-joint .ajouter { clear: both; }
.document-joint .ajouter .ajout-a { display: block; width: 200px; padding: 5px 10px; background-color: #480c57; text-transform: uppercase; color: #fff; font-family: "futuralt-light"; font-size: 12px; font-size: 1.2rem; -moz-transition: background-color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; }
.document-joint .ajouter .ajout-a:hover { color: #fff; background-color: #2a0733; }

.textarea-ckeditor { position: relative; float: left; width: 100%; }
@media all and (min-width: 48em) { .textarea-ckeditor { width: 80%; } }

.btn-action-form { float: left; width: 130px; margin-top: 10px; margin-right: 10px; padding: 10px 0; background-color: #fff; border: 1px solid #480c57; text-align: center; text-transform: uppercase; font-family: "futuralt-light"; color: #480c57; font-size: 12px; font-size: 1.2rem; -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
.btn-action-form:hover { color: #fff; background-color: #480c57; }
@media all and (min-width: 48em) { .btn-action-form { width: 150px; margin-right: 0; margin-left: 20%; font-size: 14px; font-size: 1.4rem; }
  .btn-action-form:last-of-type { margin-left: 20px; } }
@media all and (min-width: 62.5em) { .btn-action-form { width: 200px; } }

/***  /$$       /$$$$$$  /$$$$$$  /$$$$$$$$ /$$$$$$$$  /$$$$$$  | $$      |_  $$_/ /$$__  $$|__  $$__/| $$_____/ /$$__  $$ | $$        | $$  | $$  \__/   | $$   | $$      | $$  \__/ | $$        | $$  |  $$$$$$    | $$   | $$$$$   |  $$$$$$  | $$        | $$   \____  $$   | $$   | $$__/    \____  $$ | $$        | $$   /$$  \ $$   | $$   | $$       /$$  \ $$ | $$$$$$$$ /$$$$$$|  $$$$$$/   | $$   | $$$$$$$$|  $$$$$$/ |________/|______/ \______/    |__/   |________/ \______/     */
.bloc-ajout { padding: 10px; margin-bottom: 20px; }
@media all and (min-width: 48em) { .bloc-ajout { padding: 15px; } }
.bloc-ajout .ajouter-donnee { padding: 10px; background-color: #fff; border: 1px solid #480c57; text-transform: uppercase; font-family: "futuralt-light"; color: #480c57; font-size: 12px; font-size: 1.2rem; -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
.bloc-ajout .ajouter-donnee:hover { color: #fff; background-color: #480c57; }
@media all and (min-width: 48em) { .bloc-ajout .ajouter-donnee { font-size: 14px; font-size: 1.4rem; } }

.bloc-titre { width: 100%; padding: 5px 10px; background-color: #480c57; *zoom: 1; }
.bloc-titre:before, .bloc-titre:after { display: table; content: ""; }
.bloc-titre:after { clear: both; }
@media all and (min-width: 48em) { .bloc-titre { padding: 5px 15px; } }
.bloc-titre .item-titre { display: none; float: left; width: 30%; padding-right: 20px; text-transform: uppercase; font-family: "futurace-light"; font-size: 12px; font-size: 1.2rem; color: #fff; }
.bloc-titre .item-titre:nth-of-type(1), .bloc-titre .item-titre:nth-of-type(2) { display: inline-block; }
@media all and (min-width: 48em) { .bloc-titre .item-titre { font-size: 14px; font-size: 1.4rem; } }
@media all and (min-width: 62.5em) { .bloc-titre .item-titre { font-size: 16px; font-size: 1.6rem; width: 20%; }
  .bloc-titre .item-titre:nth-of-type(n) { display: inline-block; } }

.bloc-donnees { position: relative; *zoom: 1; padding: 10px; border-bottom: 1px solid #dddbdb; }
.bloc-donnees:before, .bloc-donnees:after { display: table; content: ""; }
.bloc-donnees:after { clear: both; }
.bloc-donnees:first-of-type { margin-top: 20px; }
.bloc-donnees:last-of-type { margin-bottom: 20px; }
@media all and (min-width: 48em) { .bloc-donnees { padding: 10px 15px; } }
.bloc-donnees .item-donnee { display: none; float: left; width: 30%; padding-right: 20px; padding-top: 10px; font-family: "Open Sans", sans-serif; font-size: 12px; font-size: 1.2rem; color: #000; }
.bloc-donnees .item-donnee:nth-of-type(1), .bloc-donnees .item-donnee:nth-of-type(2), .bloc-donnees .item-donnee:last-of-type { display: inline-block; }
.bloc-donnees .item-donnee:last-of-type { width: 80px; float: right; padding-top: 0; padding-right: 0; }
@media all and (min-width: 62.5em) { .bloc-donnees .item-donnee { width: 20%; }
  .bloc-donnees .item-donnee:nth-of-type(n) { display: inline-block; } }
.bloc-donnees .item-donnee .icon { display: block; float: left; width: 35px; height: 35px; border: #480c57 solid 2px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; color: #480c57; -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
.bloc-donnees .item-donnee .icon:hover { background-color: #480c57; color: #fff; }
.bloc-donnees .item-donnee .icon:first-of-type { margin-right: 10px; }
